.aboutCopy {
  padding: 17px 24px 19px;
}

.aboutCopy p {
  font-size: 15px;
  line-height: 1.55;
  max-width: 96%;
}

.aboutCopy p + p {
  margin-top: 18px;
}

@media (max-width: 720px) {
  .aboutCopy {
    padding-left: 16px;
    padding-right: 16px;
  }
}
